<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciprocals</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
</head>
<body>
    <header id="header">
        <nav class="top-nav">
            <div><img id="headerLogo" src="{% static 'images/meri.png' %}"></img></div>
            <label class='menu-button-container' for="menu-toggle"><div class='menu-button'></div></label>

            <ul class="menu" style="list-style-type:none;">
                <input id="menu-toggle" type="checkbox" />
                <li class="o1"><a href="/">Enchante</a></li>
                <li class="o1"><a href="reciprocals">Reciprocals</a></li>
                <li class="o1"><a href="#">Online Shopping</a></li>
                <li class="o2"><a href="mr">Event Registration</a></li>
                <li class="o2"><a href="login">Login</a></li>
                <li class="o2"><a href="signup">Sign-up</a></li>
            </ul>
        </nav>
    </header>
    <div class="branches">

    </div>
    <div id="cities">
        <ul style="list-style-type:none; display: flex; flex-direction: row; flex-wrap: wrap;">
            <li>
                <figure class="color2">
                    <img id="boxes" src="{% static 'images/delhi.webp' %}" height:300px width:400px alt="Dinner Date: This must be the place" />
                    <figcaption><a href="#">Delhi--><p>110001</p></a></figcaption>
                </figure>
            </li>
            <li>
                <figure class="color3">
                    <img id="boxes" src="{% static 'images/pune.jpg' %}" height:300px width:400px alt="DJ night: rock on :0." />
                    <figcaption><a href="#">Pune--><p>111045</p></a></figcaption>
                </figure>
            </li>
            <li>
                <figure class="color4">
                    <img id="boxes" src="{% static 'images/gandhinagar.webp' %}" height:300px width:400px alt="Tree on island in lake with purple sunrise." />
                    <figcaption><a href="#">Gandhinagar--><p>382002</p></a></figcaption>
                </figure>
            </li>
            <li>
                <figure class="color5">
                    <img id="boxes" src="{% static 'images/bombay.webp' %}" height:300px width:400px alt="Music: guitar leaning against wall." />
                    <figcaption><a href="#">Bombay--><p>230532</p></a></figcaption>
                </figure>
            </li>
            <li>
                <figure class="color6">
                    <img id="boxes" src="{% static 'images/bhopal.webp' %}" height:300px width:400px alt="Vehicles: 1930's car on street." />
                    <figcaption><a href="#">Bhopal--><p>462001</p></a></figcaption>
                </figure>
            </li>
            <li>
                <figure class="color7">
                    <img id="boxes" src="{% static 'images/Bangalore.jpg' %}" alt="Landscape: moonrise over tree-covered mountains." />
                    <figcaption><a href="#">Bangalore--><p>530068</p></a></figcaption>
                </figure>
            </li>
        </ul>
    </div>
       <footer>
        <div class="footer">
        <div class="f1">
            <h3>Stay Connected!!</h3>
            <div class="f11"> <img src="{% static 'images/facebook-brands.svg' %}" id="footerlogo"></img>

        <img src="{% static 'images/instagram-brands.svg' %}" id="footerlogo"></img>
        <img src="{% static 'images/twitter-brands.svg' %}" id="footerlogo"></img></div></div>
        <div class="f2">
            <h3>
                F-304 <br>
                Rajlabhi Heritage<br>
                Koba, Gandhinagar<br>
                Gujarat,India<br>
            </h3>
        </div></div>
    </footer>
</body>
</html>